.items {
    .itemBlock{
        display:block;
        .image{
            display:block;
            width:100px;
            height: 100px;
            border-style: solid;
            float: left;
            margin:8px;
        }
        .name{
            display:block;
           
        }
        .desc{
            display:block;
        
        }
        .price{
            float:right;
            margin-bottom: 0;
        }
        .inventory{
            
            display:inline;
        }
        hr{
            margin:8px;
        }

    }

    
}